# Task1
# Akhilkumar K S
# ID: SIRSS2138

## Pattern 1

In [1]:
for i in range(5):
    print('5 '*(5-i))

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

## Pattern 2

In [2]:
for i in range(5,0,-1):
    for j in range(0,i+1):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

## Pattern 3

In [3]:
for i in range (1,6):
    for j in range (0,i):
        print(2*i-1, end =" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

## Pattern 4

In [4]:
for i in range(6):
    for j in range(i,0,-1):
        print(j,end=' ')
    print('')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

## Pattern 5

In [5]:
ls=list(range(1,11))
for i in range(1,5):
    for j in ls[:i][::-1]:
        print(j,end=' ')
    print()
    ls=ls[i:]

1
3 2
6 5 4
10 9 8 7

## Pattern 6

In [6]:
for i in range(7):
    for j in range(0, i + 1):
        n = 1
        if j>i-j:
            j=i-j
        for k in range(j):
            n *= (i - k)
            n //=(k + 1)
        print(n, end=" ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

## Pattern 7

In [7]:
for i in range(1,6):
    for j in range(1,6):
        if j<i:
            print(i,end=' ')
        else:
            print(j,end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

## Pattern 8

In [8]:
for i in range(1,9):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

## pattern 9

In [9]:
for j in range(6):
    print(' '*(6+j),'* '*(6-j))

       * * * * * *
        * * * * *
         * * * *
          * * *
           * *
            *

## Pattern 10

In [10]:
for j in range(1,8):
    print(' '*(8-j),' * '*(j))

         *
        *  *
       *  *  *
      *  *  *  *
     *  *  *  *  *
    *  *  *  *  *  *
   *  *  *  *  *  *  *

## Pattern 11

In [11]:
for i in range(1,7):
    print('* '*i)
print()
for i in range(1,7):
    print('* '*(7-i))

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

##  Pattern 12

In [12]:
for i in range(1,6):
    print('* '*i)
for j in range(4,0,-1):
    print('* '*j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## pattern 13

In [13]:
for i in range(1,6):
    print('  '*(5-i),'* '*i)
for j in range(4,0,-1):
    print('  '*(5-j),'* '*j)

         *
       * *
     * * *
   * * * *
 * * * * *
   * * * *
     * * *
       * *
         *

## pattern 14

In [14]:
for j in range(5):
    print(' '*(j),'* '*(5-j))
for j in range(5):
    print(' '*(4-j),'* '*(j+1))

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

## pattern 15

In [15]:
for i in range(8):
    print(('__'*i).center(16,'*'))

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*